
html, body {
  margin: 0;
  height: 100vh;
}

.panels {
  min-height: 100%;
  overflow: hidden;
  display: flex;
}

.panel {
  color: black;
  text-align: center;
  align-items: center;
  font-size: 20px;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  background-image: url("../landingImgs/town.jpg");
}
.panel2 {
  background-image: url("../landingImgs/crazy.jpg");
}
.panel3 {
  background-image: url("../landingImgs/smoke.jpg");
}
panel2 {
  color: white;
}
.panel > * {
  margin:0;
  width: 100%;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel.open {
  flex: 5;
  font-size:40px;
}
